In [3]:
# !pip install pymongo
# helps with connection with mongodb

In [23]:
# importing libraries
import pymongo

In [24]:
# making a mongodb client
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [25]:
# create a database
mydb = client["Employee"]

In [32]:
# creating a collection

employee_table = mydb.employee_table

In [33]:
record = {
    "firstname": "bhupender",
    "lastname": "singh",
    "department": "analytics",
    "class":"college"
    
}

In [34]:
employee_table.insert_one(record)

In [35]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [36]:
employee_table.insert_many(records)

In [38]:
## query find and print etc.

In [41]:
#simple way
# by default 1st document is listed
employee_table.find_one({})

{'_id': ObjectId('60af3d11f5a8a2cc09a97854'),
 'firstname': 'bhupender',
 'lastname': 'singh',
 'department': 'analytics',
 'class': 'college'}

In [42]:
# select * from employee_table

for record in employee_table.find({}):
    print(record)

{'_id': ObjectId('60af3d11f5a8a2cc09a97854'), 'firstname': 'bhupender', 'lastname': 'singh', 'department': 'analytics', 'class': 'college'}
{'_id': ObjectId('60af3d21f5a8a2cc09a97855'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60af3d21f5a8a2cc09a97856'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60af3d21f5a8a2cc09a97857'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60af3d21f5a8a2cc09a97858'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [44]:
employee_table.find() # gives out the cursor

In [46]:
## query of where this is that.
# select * from table where firstname = "bhupender";
 
for record in employee_table.find({"firstname": "bhupender"}): # query is also written as a JSON format
    print(record)

{'_id': ObjectId('60af3d11f5a8a2cc09a97854'), 'firstname': 'bhupender', 'lastname': 'singh', 'department': 'analytics', 'class': 'college'}

In [49]:
## query of using ($in, $lt, $gt) in, less than, greater than

for record in employee_table.find({"qualification": {"$in": ["phd", "masters"]}}):
    print(record)

{'_id': ObjectId('60af3d21f5a8a2cc09a97856'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60af3d21f5a8a2cc09a97857'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [52]:
## less than and greater than
# we used lt and two query conditions to find out the result
for record in employee_table.find({"age": {"$lt": 35}, "qualification": "master"}):
    print(record)

{'_id': ObjectId('60af3d21f5a8a2cc09a97858'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [56]:
## 'OR' and 'AND' operators $or, $and
 
for record in employee_table.find({"$or": [{"firstname": "bhupender"}, {"qualification":"master"}]}):
    print(record)

{'_id': ObjectId('60af3d11f5a8a2cc09a97854'), 'firstname': 'bhupender', 'lastname': 'singh', 'department': 'analytics', 'class': 'college'}
{'_id': ObjectId('60af3d21f5a8a2cc09a97858'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [58]:
for record in employee_table.find({"$and": [{"firstname": "bhupender"}, {"qualification":"master"}]}):
    print(record)
    
#not found any

In [59]:
## use of nested query
inventory=mydb.inventory

inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [71]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('60af3fc3f5a8a2cc09a97859'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [72]:
## updating records using update_one, update_many, replace_one

In [79]:
inventory = mydb.inventory

In [80]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [84]:
inventory.update_one(
    {"item":"sketch pad"}, 
    {"$set" : {"size.uom": "m", "status": "P"}, 
     "$currentDate": {"lastModified": True}})

In [88]:
inventory.replace_one(
    {"item": "paper"},
    {"item": "paper", 
    "instock": [{"warehouse": "A", "qty": 60}, {"warehouse":"B", "qty": 40}]})

In [72]:
## aggregate functions

In [73]:
import pymongo

In [74]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [75]:
database = client["database_for_aggregate"]

In [76]:
collection = database.collection

In [77]:
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}]

In [78]:
collection.insert_many(data)

In [80]:
## aggregate, sum , average are all in groupby function which is in aggregate function

In [84]:
### Find Amit And Krish Total Subjects
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [85]:
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [86]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [87]:

### Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}
{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}

In [89]:
import datetime as datetime

In [91]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [92]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2021, 5, 27, 12, 28, 36, 156588)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2021, 5, 27, 12, 28, 36, 156588)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2021, 5, 27, 12, 28, 36, 156588)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2021, 5, 27, 12, 28, 36, 156588)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2021, 5, 27, 12, 28, 36, 156588)}]

In [93]:
mycollection=database['stores']  
mycollection.insert_many(data)

In [94]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [1]:
#query

In [2]:
import pymongo

In [6]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [8]:
database = client["first_database"]

In [9]:
collection = database.collection

In [12]:
collection.insert_one({"firstname": "bhupender", "lastname": "singh", "age": "22", "phno": "99", "email": "bhupender.com"})

In [15]:
collection.insert_many([{"firstname": "ram", "lastname": "singh", "age": "22", "phno": "88", "email": "ram.com"},
                       {"fistname": "shyam", "lastname": "sharma", "age": "23", "phno": "77", "email": "shyam.com"},
                       {"firstname": "arya", "age": "24", "phno": "66", "email": "arya.com"},
                       {"firstname": "tin", "lastname": "tin", "age": "30", "email": "tin.com"}])

In [16]:
collection.find_one({})

{'_id': ObjectId('60af86cbe715f42cadaa9496'),
 'firstname': 'bhupender',
 'lastname': 'singh',
 'age': '22',
 'phno': '99',
 'email': 'bhupender.com'}

In [17]:
for record in collection.find():
    print(record)

{'_id': ObjectId('60af86cbe715f42cadaa9496'), 'firstname': 'bhupender', 'lastname': 'singh', 'age': '22', 'phno': '99', 'email': 'bhupender.com'}
{'_id': ObjectId('60af87abe715f42cadaa9497'), 'firstname': 'ram', 'lastname': 'singh', 'age': '22', 'phno': '88', 'email': 'ram.com'}
{'_id': ObjectId('60af87abe715f42cadaa9498'), 'fistname': 'shyam', 'lastname': 'sharma', 'age': '23', 'phno': '77', 'email': 'shyam.com'}
{'_id': ObjectId('60af87abe715f42cadaa9499'), 'firstname': 'arya', 'age': '24', 'phno': '66', 'email': 'arya.com'}
{'_id': ObjectId('60af87abe715f42cadaa949a'), 'firstname': 'tin', 'lastname': 'tin', 'age': '30', 'email': 'tin.com'}

In [18]:
for record in collection.find({"firstname": "tin"}):
    print(record)

{'_id': ObjectId('60af87abe715f42cadaa949a'), 'firstname': 'tin', 'lastname': 'tin', 'age': '30', 'email': 'tin.com'}

In [25]:
# conditions of $in, $lt, $gt

for record in collection.find(
    {"lastname": {"$in": ["sharma"]}}
): 
    print(record)

{'_id': ObjectId('60af87abe715f42cadaa9498'), 'fistname': 'shyam', 'lastname': 'sharma', 'age': '23', 'phno': '77', 'email': 'shyam.com'}

In [46]:
# less than and greater than

for record in collection.find({"age": {"$gt": "25"}}):
    print(record, end= "\n\n\n\n")
    
for record in collection.find({"age": {"$gt": "22"}}):
    print(record)

{'_id': ObjectId('60af87abe715f42cadaa949a'), 'firstname': 'tin', 'lastname': 'tin', 'age': '30', 'email': 'tin.com'}



{'_id': ObjectId('60af87abe715f42cadaa9498'), 'fistname': 'shyam', 'lastname': 'sharma', 'age': '23', 'phno': '77', 'email': 'shyam.com'}
{'_id': ObjectId('60af87abe715f42cadaa9499'), 'firstname': 'arya', 'age': '24', 'phno': '66', 'email': 'arya.com'}
{'_id': ObjectId('60af87abe715f42cadaa949a'), 'firstname': 'tin', 'lastname': 'tin', 'age': '30', 'email': 'tin.com'}

In [47]:
## and or operators

In [56]:
for record in collection.find({"$and": [{"fistname": "shyam"}, {"lastname": "sharma"}]}):
    print(record)

{'_id': ObjectId('60af87abe715f42cadaa9498'), 'fistname': 'shyam', 'lastname': 'sharma', 'age': '23', 'phno': '77', 'email': 'shyam.com'}

In [57]:
for record in collection.find({"$or": [{"firstname": "bhupender"}, {"lastname": "sharma"}]}):
    print(record)

{'_id': ObjectId('60af86cbe715f42cadaa9496'), 'firstname': 'bhupender', 'lastname': 'singh', 'age': '22', 'phno': '99', 'email': 'bhupender.com'}
{'_id': ObjectId('60af87abe715f42cadaa9498'), 'fistname': 'shyam', 'lastname': 'sharma', 'age': '23', 'phno': '77', 'email': 'shyam.com'}

In [58]:
## updating the document

In [71]:
collection.update_one({"firstname": "shyam"}, {"$set": {"lastname": "suryavanshi","age": "32" nm

In [69]:
collection.replace_one({"lastname": "singh"}, {"firstname": "shyam", "lastname": "singh"})